
.newsletter-trap{
    display: none;
}


.newsletter-option{
    width:100%;
	border:solid 1px #ddd;
	box-shadow:1px 1px 10px rgba(0,0,0,0.04);
	padding:10px;
	box-sizing:border-box;
	margin-bottom:10px;
}

.newsletter-option button{
	padding:10px 15px;
	border:none;
	background:red;
	color:#fff;
	cursor:pointer;
}

.sendns,.mailns{
	width:100%;
	border:solid 1px #ddd;
	display:block;
	padding:10px;
	box-sizing:border-box;
	height:auto;
}

.isended,.inotsended{
    width: 100%;
    padding:10px;
    box-sizing: border-box;
    color:#fff;
    margin:10px 0;
    background: green;
}

.inotsended{
    background: red;
}

pre, code{
    background: #ccc;
	color: blue;
	padding:5px;
	font-size:.85em;
}
