.newsletter-invitation{
    width:100%;
    height:auto;
    padding: 15px;
    box-sizing: border-box;
    border:solid 1px #ddd;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
    margin:10px 0;
}

.newsletter-invitation input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin:5px 0;
	border:none;
    border-radius:5px;
}

.newsletter-invitation input[type="submit"]{
    background:green;
    color:#fff;
    border:none;
}

.newsletterinfo{
    width: 100%;
    border-radius: 5px;
    background: green;
    display: block;
    padding: 10px;
    box-sizing: border-box;
    color:#fff; margin-bottom: 10px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
    text-align: center;
    opacity: 0;
    animation: fadeNewsletterInfo 500ms linear;
    animation-fill-mode: forwards;
}

.newsletterinfo-error{
    background: red;
}

.newsletter-trap{
    display: none;
}

@keyframes fadeNewsletterInfo {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.newsletter-option{
    width:100%;
	border:solid 1px #ddd;
	box-shadow:1px 1px 10px rgba(0,0,0,0.04);
	padding:10px;
	box-sizing:border-box;
	margin-bottom:10px;
}

.newsletter-option button{
	padding:10px 15px;
	border:none;
	background:red;
	color:#fff;
	cursor:pointer;
}

.sendns,.mailns{
	width:100%;
	border:solid 1px #ddd;
	display:block;
	padding:10px;
	box-sizing:border-box;
	height:auto;
}

.isended,.inotsended{
    width: 100%;
    padding:10px;
    box-sizing: border-box;
    color:#fff;
    margin:10px 0;
    background: green;
}

.inotsended{
    background: red;
}

pre, code{
    background: #ccc;
	color: blue;
	padding:5px;
	font-size:.85em;
}